  .score{
    color: yellow;
    font-style: italic;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-shadow: 3px 2px #e68e8e;

  }

// .image-box{
//     border: 1px solid #ccc;
//     padding: 5px;
// }

.card{
    display: inline-block;
    max-width: fit-content;
    margin: 0 auto;
    background-image: url('../../assets/background\ forest.avif');
    background-size: cover;
}

.restart-overlay {
  position: relative;
  bottom: 3;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 22px;
}

